.title {
  font-size: 64px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  letter-spacing: 3px;
}

.modules {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.module-card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 350px;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-header h2 {
  margin: 0;
}

.icon {
  font-size: 1.4rem;
}

.progress-bar {
  height: 15px;
  border-radius: 40px;
  margin: 10px 0;
  background-color: #eee;
  overflow: hidden;
}

.progress-bar .fill {
  height: 100%;
}

.green .fill {
  background: #03b50f;
}

.orange .fill {
  background: #e5a33b;
}

.red .fill {
  background: #f8432f;
}

.progress-text {
  margin: 15px 0;
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
}

.btn {
  display: inline-block;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  height: 60px;
  font-size: 32px;
  letter-spacing: 3px;
  font-family: "Times New Roman", Times, serif;
}

.btn.blue {
  background: #2e6eca;
  color: white;
}

.btn.yellow {
  background: #ffcf54;
  color: black;
}

.btn.white {
  background: #ffffff;
  color: black;
  box-shadow: #2b2a2a 0px 0px 5px;
}

.locked .btn {
  display: none;
}

.locked {
  opacity: 0.7;
}

.module-header {
  font-size: 40px;
  letter-spacing: 2px;
}

.module-description {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
  margin: 30px 0;
}

.games-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.games-title .icon {
  margin-right: 10px;
}

.games-grid,
.sandbox-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.game-card,
.sandbox-card {
  width: 300px;
  background-color: white;
  border-radius: 12px;
  padding: 16px 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
}

.game-card:hover,
.sandbox-card:hover {
  transform: scale(1.03);
}

.game-image,
.sandbox-image {
  background-color: var(--bg, #e0e0e0);
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

.game-image img {
  width: 105px;
}

.game-content{
  padding: 16px;
  text-align: center;
}

.game-content h3,
.sandbox-card h3 {
  margin: 0 0 8px;
  font-size: 48px;
  letter-spacing: 2px;
}

.game-content p,
.sandbox-card p {
  margin: 0 0 12px;
  font-size: 24px;
  color: #666;
}

.game-content button,
.status {
  background-color: #34ad6c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  height: 55px;
  width: 230px;
  font-size: 36px;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
}

.game-content button:hover {
  background-color: #218838;
}

.sandbox-card img {
  width: 140px;
}





.status.available {
  background-color: #d4f8d4;
  color: #1d8f1d;
}

.status.unavailable {
  background-color: #fcdede;
  color: #d23a3a;
}
