@import url("./reset.css");
@import url("./global.css");
@import url("./head.css");

header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  background-color: #ffffff;
}

.logo-wraper {
  width: 450px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 58px;
}

.logo-wraper img {
  width: 107px;
  height: 103px;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 36px;
}

h1:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.register-button-wraper {
  width: 450px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-button {
  width: 250px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 15px;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease;
}

.sign-in-button:hover {
  color: var(--primary-color);
  background-color: #ffffff;
  border: 3px solid var(--primary-color);
}

#login-button {
  width: 120px;
  border-radius: 15px;
  height: 60px;
  border: 3px solid var(--additioanl-color);
  background-color: #ffffff;
  color: var(--additioanl-color);
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease;
}

#login-button:hover {
  color: #ffffff;
  background-color: var(--additioanl-color);
  border: none;
}

section {
  width: 1200px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-course-wraper {
  width: 960px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 8px solid #5c2019;
  border-radius: 20px;
  padding: 50px;
}

.start-course-wraper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 42px;
  font-weight: bolder;
  text-align: left;
  color: var(--primary-color);
  letter-spacing: 1px;
  margin-bottom: 40px;
  line-height: 50px;
}

#start-course {
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 15px;
  color: #ffffff;
  font-size: 36px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease;
  cursor: pointer;
}

#start-course:hover {
  color: var(--primary-color);
  background-color: #ffffff;
  border: 3px solid var(--primary-color);
}

.items-of-course {
  width: 300px;
  height: 470px;
}

.items-of-course ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.items-of-course ul li,
.bonus-text-item li {
  width: 100%;
  color: var(--primary-color);
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bolder;
  text-align: left;
  display: flex;
  align-items: center;
}

.items-of-course ul li div,
.bonus-text-item li div,
.question-item div {
  width: 38px;
  height: 38px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
}

.question-item div:hover {
  cursor: pointer;
}

.modules-wraper,
.bonus-wraper,
.team-wraper,
.question-wraper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.module-item {
  background-color: #ffffff;
  width: 350px;
  height: 150px;
  border-radius: 15px;
  color: var(--primary-color);
  border: 5px solid var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  padding: 10px;
  position: relative;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.module-item .module-name {
  flex-shrink: 0;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.additional-module {
  width: 0;
  opacity: 0;
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  display: flex;
  align-items: center;
}

.module-item:hover {
  width: 550px;
}

.module-item:hover .module-name {
  width: 200px;
  text-align: left;
  padding-left: 10px;
}

.module-item:hover .additional-module {
  width: 100%;
  opacity: 1;
  padding-left: 20px;
}

.bonus-item {
  width: 500px;
  height: 350px;
  border: 1px solid black;
  border-radius: 15px;
  color: var(--primary-color);
  border: 5px solid var(--primary-color);
}

.bonus-wraper .bonus-item:nth-child(5) {
  grid-column: span 2;
  width: 100%;
}

h3 {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 10px;
}

.bonus-text-item {
  height: 250px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.bonus-wraper {
  width: 1000px;
}

.person-wraper {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.person-wraper img {
  width: 254px;
  height: 254px;
}

.person-info {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 10px;
  margin: 20px 0;
}

.person-init,
.person-job {
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
  color: var(--primary-color);
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 10px;
}

.person-job {
  font-weight: normal;
  font-size: 30px;
}

.question-wraper {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}

.question-item-wraper {
  width: 500px;
  height: 80px;
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  transition: height 0.3s ease;
  overflow: hidden;
}

.question-item {
  width: 500px;
  height: 80px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.question-text {
  width: 80%;
  text-align: center;
  font-size: 24px;
  text-align: left;
  color: var(--primary-color);
  line-height: 25px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  height: 80px;
  padding: 20px 0;
}

.answer-item {
  display: none;
  height: 120px;
  padding: 10px 20px;
  flex-shrink: 0;
  transition: all 0.3s ease;
  font-size: 24px;
  text-align: left;
  color: var(--primary-color);
  line-height: 25px;
}

.answer-item-active {
  width: 100%;
  display: block;
  padding-left: 20px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.form-wraper {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-half,
.input-one {
  width: 320px;
  height: 50px;
  border: 5px solid var(--primary-color);
  border-radius: 15px;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  color: var(--primary-color);
  line-height: 25px;
  letter-spacing: 1px;
  outline: none;
}

.input-half::placeholder,
.input-one::placeholder {
  color: rgba(77, 23, 23, 69);
}

.input-one {
  width: 100%;
  margin-bottom: 20px;
}

.register-form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  width: 150px;
  border-radius: 15px;
  height: 60px;
  border: 3px solid var(--additioanl-color);
  background-color: #ffffff;
  color: var(--additioanl-color);
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.1s ease;
  margin-right: 30px;
}

.cancel-button:hover {
  color: #ffffff;
  background-color: var(--additioanl-color);
  border: none;
}

#wrapper-shadow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005c;
  z-index: 4;
  display: none;
  overflow-y: auto;
}

.modal-window {
  width: 800px;
  min-height: 400px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
}

.button-close {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Monomakh", Arial;
  font-size: 50px;
  line-height: 43px;
  text-align: center;
  color: #5c2019;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: -10px;
}

#error-text,
#error-text-main {
  font-size: 18px;
  text-align: left;
  color: #f44336;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.user-bar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5px 10px;
  width: 430px;
  border-radius: 5px;
  font-family: serif;
  font-weight: bold;
}

.icon {
  width: 62px;
  height: 62px;
  padding: 4px;
  border-radius: 3px;
  letter-spacing: 2px;
}

.user-name {
  font-family: "Monomakh", Arial;
  font-size: 28px;
  margin: 0 10px 0 50px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  background: linear-gradient(180deg, #dbeafe, #f0fdf4);
  padding: 150px 20px 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  z-index: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  font-size: 32px
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 5px;
  transition: background 0.2s;
}

.sidebar ul li a:hover {
  border-radius: 5px;
}

.sub-menu {
  padding-left: 25px;
  display: none;
  margin-left: 20px;
}

.sub-menu.active {
  display: block;
  margin-left: 20px;
}

.arrow {
  transition: transform 0.2s ease;
}

.toggle.open .arrow {
  transform: rotate(90deg);
}

.main-wraper{
  width: calc(100vw - 350px);
  margin-left: 300px;
}

.toggle.active {
  font-weight: bold;
}
