<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="sidebar">
      <ul>
        <li>
          <a href="#" class="toggle">
            <span class="arrow">&#9654;</span> Головна
          </a>
        </li>
        <li>
          <a href="#" class="toggle">
            <span class="arrow">&#9654;</span> Модулі
          </a>
          <ul class="sub-menu">
            <li><a href="#">Модуль 1</a></li>
            <li><a href="#">Модуль 2</a></li>
            <li><a href="#">Модуль 3</a></li>
            <li><a href="#">Модуль 4</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="toggle">
            <span class="arrow">&#9654;</span> Ігри
          </a>
        </li>
        <li>
          <a href="#" class="toggle">
            <span class="arrow">&#9654;</span> Пісочниця
          </a>
        </li>
      </ul>
    </nav>
  </body>

</html>
